.Input-style {
 	margin-top: 5%;

 	h2 {
 		color: #fff;
 		font-size: 50px;
 		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 	}

 	h3 {
 		color: #fff;
 		text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;	
 	}

 	button { 
	 	background-color: transparent;
	    border: 1px solid #fff;
	    color: white;
	    cursor: pointer;
	    padding: 13px 25px;
	    margin: 10px;
	    font-weight: bold;
	    border-radius: 4px;
	    font-size: 18px;
 	}
}

input[type=search] {
	width: 30%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #fff;
	padding: 12px 20px 12px 40px;
	transition: width 0.9s ease-in-out;
	margin-bottom: 1%;
}

input[type=search]:focus {
	width: 45%;
}

.Image-gallary {
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
	width: 95%;
	background: linear-gradient(#0E0E0E, #3A3C50);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

  	img {
		height: 300px;
		padding: 10px;
		flex-grow: 1;
	}

	img:hover {
		transform: scale(1.05);
	  	transition: 0.5s ease-in-out;
	}
}

span {
	margin: 0px 5px;
	color: #fff;
	background: linear-gradient(#000000, #3A3C50);
	border-radius: 6px;	
    padding: 0px 0px 2px 5px;
    cursor: pointer;

	.close-button {
		color: #b82323;
		font-size: 14px;
		font-weight: bold;
	}

	.close-button:hover {
		text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px red;
	}
}


